.input-group-addon.primary {
    color: #ffffff;
    background-color: #0275d8;
    border-color: #0275d8;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.input-group-text.primary {
    color: #ffffff;
    background-color: #0275d8;
    border-color: #0275d8;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    cursor: initial;
}

.form-control.withprepend {
    border: 1px solid #0275d8;
    width: 7.5em;
}

.jumbotron {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.loadinggif {
    margin-left: 48%;
    margin-top: 10%;
    width: 4%;
    display: none;
}