{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="card">


    <div class="card-header">
      <b>About PlanWise</b>
    </div>
    <div class="card-body">
      <p class="card-title">PlanWise is a small web app that aims to help people around to world to make the most of
        their annual leave. It's a personal project that is in an alpha state and will keep evolving. Its source is publicly available
        on <a href="https://github.com/tgikf/planwise_py" target="_blank">GitHub</a>. </p>
      <p class="card-text">
        All the information provided by PlanWise (subsequently referred to as "the website") is published in good faith
        and for general information purpose only.
        The website does not make any warranties about the completeness, reliability and accuracy of this information. Any
        action you take upon the information you find on this website, is strictly at your own risk. The website will not be
        liable for any losses and/or damages in connection with the use of this website.
        By using the website, you hereby consent to our disclaimer and agree to its terms.</p>
      <p class="card-text"> <center>© 2020 PlanWise </center></p>

    </div>
  </div>
</div>


{% endblock %}