<form class="form-inline buttonform">
    <div class="input-group date">
        <div class="input-group-prepend">
            <span class="input-group-addon primary">
                <span class="input-group-text primary">From</span></span>
        </div>
        <input class="form-control withprepend" id="startDate" name="date" placeholder="yyyy-mm-dd" type="text"
            autocomplete="off">
    </div>
    <div class="input-group date">
        <div class="input-group-prepend">
            <span class="input-group-addon primary">
                <span class="input-group-text primary">To</span></span>
        </div>
        <input class="form-control withprepend" id="endDate" name="date" placeholder="yyyy-mm-dd" type="text"
            autocomplete="off" />
    </div>
    <div class="input-group date">
        <div class="input-group-prepend">
            <span class="input-group-addon primary">
                <span class="input-group-text primary">Days</span></span>
        </div>
        <input id="daysBudget" class="form-control withprepend" type="number" value="15" min="0" max="365" step="1" />
    </div>

    <button class="btn btn-primary" onclick="submitPlanningForm(event)">
        Plan wisely!</button>
</form>