{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row  justify-content-center">
        <div class="spinner-border text-info  justify-content-center" id="planspinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div id="calendar"></div>
    </div>
    <div class="row justify-content-center" id="detailzone"> </div>
</div>
<div class="container-fluid fixed-bottom">
    <div class="d-flex justify-content-center">
        <form class="form-inline planform justify-content-between">
            <!-- <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-addon primary">
                        <span class="input-group-text primary">From</span>
                    </span>
                </div>
                <input class="form-control withprepend datepicker" id="startDate" name="date" value="2020-01-01"
                    type="text" autocomplete="off" />
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-addon primary">
                        <span class="input-group-text primary">To</span>
                    </span>
                </div>
                <input class="form-control withprepend datepicker" id="endDate" name="date" value="2020-12-31"
                    type="text" autocomplete="off" />
            </div> !-->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-addon primary">
                        <span class="input-group-text primary">Year</span>
                    </span>
                </div>
                <select class="form-control withprepend" id="yearSelection" data-width="auto">
                    <!-- todo: this list should be centralized and used in JS validation too-->
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                </select>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-addon primary">
                        <span class="input-group-text primary">Days</span>
                    </span>
                </div>
                <input id="daysBudget" class="form-control withprepend" type="number" value="15" min="0" max="365"
                    step="1" />
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-addon primary">
                        <span class="input-group-text primary">Locale</span>
                    </span>
                </div>
                <select class="form-control selectpicker withprepend" id="regionSelection" data-live-search="true"
                    data-width="auto">
                    <!--<option data-tokens="switzerland">Switzerland</option>-->
                </select>
            </div>
            <div class="input-group">
                <button class="btn btn-info" onclick="planWise(event)">
                    Go!</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}